.questionnaire {
  &__content {
    h2 {
      color: #2b1e74;
      font-size: 65px;
      font-weight: 600;
      margin-top: 55px;
    }
  }
  &__block {
    background: #fff;
    border-radius: 20px;
    box-shadow: var(--one-box-shadow, 0px 4px 4px 0px rgba(0, 0, 0, 0.25));
    margin-top: 40px;
    p {
      color: #333334;
      font-size: 22px;
      font-weight: 500;
      padding: 16px 26px;
    }
  }
  &__box {
    background: #fff;
    border-radius: 20px;
    box-shadow: var(--one-box-shadow, 0px 4px 4px 0px rgba(0, 0, 0, 0.25));
    margin-top: 40px;
  }
  &__row{
    padding: 24px 36px;
    li{
        color: #000;
        font-size: 22px;
        font-weight: 500;
    }
    ul{
        display: flex;
        justify-content: space-between;
        border-radius: 10px;
        background: #f7f9fd;
    }
  }
}

@media screen and (max-width:375px) {
    .questionnaire{
        &__content{
            h2{
                font-size: 32px;
                margin-left: 17px;
            }
        }
        &__row{
            padding: 24px 36px;
            li{
                color: #000;
                font-size: 18px;
                font-weight: 500;
            }
            ul{
                padding: 25px 10px;
            }
    }
}
}