.reception{
    margin: 60px 0;
    h1{
        font-size: 60px;
        color: #0c0834;
        font-weight: 500;
        width: 900px;

    }
    h2{
        color: #676363;
        font-size: 18.399999618530273px;
        font-weight: 500;
        margin: 30px 0 30px 0 ;
    }
    &__block{
        display: flex;
        flex-wrap: wrap;
        margin-top: 50px;
        gap: 10px;
    }
    &__box{
        width: 150px;
        height: 91px;
        padding: 10px;
        background: #e7e3ff;
        border-radius: 10px;
        border-style: solid;
        border-color: rgba(120, 119, 119, 0.86);
        border-width: 1px;
        p{
            font-size: 14px;
            font-weight: 500;
            color: #0c0834;
            margin-bottom: 15px;
        }
        img{
            float: right;
        }
    }
    @media (max-width:1300px) {
        &__content{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    @media (max-width:900px) {
        h1{
            width: 302px;
        }
        &__block{
            justify-content: center;
        }
    }
}