.university{
    margin: 50px 0;
    img{
        filter: brightness(50%);
        width: 100%;
        cursor: pointer;
    }
    &__content{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
    &__left{
        position: relative;
    }
    &__right{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    &__box{
        position: absolute;
        bottom: 30px;
        padding: 30px;
        h2{
            font-size: 40px;
            line-height: 54.44px;
            color: #ffff;
        }
        p{
            color: #ffff;
            line-height: 24.5px;
        }
        button{
            border-radius: 5px;
            border: none;
            width: 100%;
            background: #ffff;
            font-weight: 500;
            font-size: 16px;
            transition: 0.4s;
            padding: 5px 10px;
        }
        button:hover{
            background: #008F6A;
            color: #ffff;
            text-decoration: underline;
        }
    }
    &__right--top{
        display: flex;
        gap: 10px;
        position: relative;
    }
    &__box--left{
        position: absolute;
        width: 240px;
        bottom: 10px;
        padding: 10px;
        p{
            width: 200px;
            color: #ffff;
            line-height: 24.5px;
        }
        button{
            border-radius: 5px;
            border: none;
            width: 100%;
            background: #ffff;
            font-weight: 500;
            font-size: 16px;
            transition: 0.4s;
            padding: 5px 10px;
        }
        button:hover{
            background: #008F6A;
            color: #ffff;
            text-decoration: underline;
        }
    }
    &__box--right{
        position: absolute;
        width: 240px;
        bottom: 10px;
        padding: 10px;
        right: 0;
        p{
            font-size: 14px;
            color: #ffff;
            line-height: 24.5px;
        }
        button{
            border-radius: 5px;
            border: none;
            width: 100%;
            background: #ffff;
            font-weight: 500;
            font-size: 16px;
            transition: 0.4s;
            padding: 5px 10px;
        }
        button:hover{
            background: #008F6A;
            color: #ffff;
            text-decoration: underline;
        }
    }
    &__right--bottom{
        position: relative;
    }
    &__box--bottom{
        position: absolute;
        bottom: 10px;
        padding: 10px;
        p{
            color: #ffff;
            line-height: 24.5px;
        }
        button{
            border-radius: 5px;
            border: none;
            width: 100%;
            background: #ffff;
            font-weight: 500;
            font-size: 16px;
            transition: 0.4s;
            padding: 5px 10px;
        }
        button:hover{
            background: #008F6A;
            color: #ffff;
            text-decoration: underline;
        }
    }

    @media (max-width:1300px) {
        &__content{
            justify-content: center;
        }
        &__box{
            h2{
                font-size: 20px;
                line-height: 30px;
            }
        }
    }
    @media (max-width:550px) {
        &__right--top{
            flex-wrap: wrap;
        }
        &__box--left{
            top: 200px;
            left: 30px;

        }
        &__box--right{
            left: 30px;
        }
    }
}