.application{
    background: #008F6A;
    margin: 50px 0 0 0;
    padding-top: 30px;
    text-align: center;
    h2{
        text-align: center;
        color: #ffffff;
        font-size: 25px;
        font-weight: 500;
        margin-bottom: 10px;
    }
    &__block{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 50px;
        gap: 10px;
        input{
            width: 330px;
            background: #ffffff;
            border-radius: 10px;
            border-style: solid;
            border-color: #888585;
            border-width: 1px;
            height: 50px;
            padding: 0 0 0 10px;
            outline: none;
        }
        button{
            background: var(--blue, #0c0834);
            border: none;
            border-radius: 10px;
            height: 50px;
            color: #ffffff;
            font-size: 20px;
            font-weight: 500;
            width: 340px;
        }
        button:hover{
            transition: 0.5s;
            background: #ffffff;
            color: #0c0834;
        }
    }
    &__chekbox{
        display: flex;
        justify-content: center;
        gap: 10px;
        input{
            width: 20px;
            height: 20px;
        }
        p{
            color: #ffffff;
            font-size: 15px;
            font-weight: 600;
        }
    }
}